:root {
    --col-primary: rgb(255, 105, 105);
    --col-bkg: rgb(255, 245, 224);
    --col-accent: rgb(199, 0, 57);

    --ff-primary: 'Kanti', sans-serif;
}

body {
    font-family: var(--ff-primary);
}

/* MAIN OUTER CONTAINER */
.grid-container {
    display: grid;
}

.main-container {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

    width: 100vw;
    height: 100vh;
}

/* SIDEBAR */
.sidebar-outer-container {
    grid-row: span 2;
    padding: 1.5rem;
}

.sidebar-inner-container {
    grid-auto-rows: 0.5fr;
    font-size: 0.7rem;
}

.sidebar-item h1 {
    color: white;
}

.sidebar-inner-container div:first-child {
    font-size: 1.1rem;
}

.sidebar-inner-container div:first-child svg {
    max-width: 2.5rem;  
}

.sidebar-inner-container div:first-child, .sidebar-inner-container div:nth-child(7) {
    margin-bottom: 3rem;
    margin-top: 0.3rem;
}

.sidebar-item {
    grid-template-columns: 0.7fr 4fr;
    grid-auto-flow: column;
    align-items: center;
}

.sidebar-item svg {
    max-width: 1.5rem;
    fill: white;    
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.05); 
    border-radius: 5px;
}

/* MAIN CONTENT */
.content {
    grid-template-columns: 4fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.heading-container {
    grid-template-rows: 0.4fr 8fr;
}

.projects-outer-container {
    grid-row: span 2;
    
}

.projects-inner-container {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2rem;
}

/* UTILITY CLASSES */
.col-primary {
    background-color: var(--col-primary);
}

.col-bkg {
    background-color: var(--col-bkg);
}

.col-white {
    background-color: white;
}