:root {
    --col-primary: blue;
    --col-bkg: rgb(189, 189, 189);
}

/* MAIN OUTER CONTAINER */
.grid-container {
    display: grid;
}

.main-container {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

    width: 100vw;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    grid-row: span 2;
}

/* UTILITY CLASSES */
.col-primary {
    background-color: var(--col-primary);
}

.col-bkg {
    background-color: var(--col-bkg);
}

.col-white {
    background-color: white;
}